<header>
  <div class="container">
    <div class="float-left">
      <%= link_to root_path do %>
        <%# image_tag "logo", class: "logo-icon" %>
      <% end %>
    </div>
    <div class="align-right desktop-menu float-right">

    </div>
  </div>
</header>